<%= form_with model: @book do |f| %>

<div class="editing-page">
  <h1 class="editing-book">Editing Book</h1>

  <div class="editing-new">
    <p class="editing-title">Title</p>
      <%= f.text_field :title %>
    <p class="editing-body">Body</p>
      <%= f.text_area :body %>
  </div>
  <div>
  <%= f.submit 'update Book' %>
  </div>
</div>

<% end %>

<%= link_to "Show", book_path(@book.id), class:"linkshow" %>
<a href= "https://c994ff6d1bf3415bbf91c541720a28f4.vfs.cloud9.ap-northeast-1.amazonaws.com/index" class="back_from_edit">Back</a>


