<h1>Ediding Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>本文</p>
  <%= f.text_area :body %>

  <%= f.submit '保存' %>

<% end %>

<%= link_to "Show", show_book_path(@book.id) %>
<%= link_to "Top", show_book_path(@book.id) %>