<h1>Books</h1>

<% @books.each do |book| %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr><%= book.title %></tr>
    <tr><%= book.body %></tr>
    <tr><%= link_to "Submit", book_path(book.id) %></tr>
    <tr><%= link_to "Edit", book_path(book.id) %></tr>
    <tr><%= link_to "Delete", book_path(book.id) %></tr>
  </tbody>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
</table>


<% end %>